<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="8" name="Test">
  <classes>
  <class name = "com.testng.FirstProgramToOpenBrowser"/>
  <class name = "com.testng.ForTest"/>
  <class name = "com.testng.SecondProgramToSelect"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
